<ion-header>
  <ion-toolbar>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="start">
    <!-- <ion-button (click)="onOpenMenu()">Open</ion-button> -->
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-button slot="primary" routerLink="/places/tabs/offers/new">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item *ngFor="let offer of loadedOffers.slice(1)" [routerLink]="['/', 'places' , 'tabs', 'offers', offer.id]">
            <!-- <ion-item *ngFor="let place of loadedPlaces.slice(1)" [routerLink]="['/', 'places' , 'tabs', 'offers', place.id]"> -->

          <h4>
            {{offer.title}}
            <!-- {{place.title}} -->
          </h4>
        <h6>
          <!-- {{offer.name}} -->
          {{offer.name}}
        </h6>
      <p>
        <!-- {{offer.price}} -->
      </p></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
